<header class="topbar">
	<div><span class="icon"></span><a class="topbar_link"href="/">The Basement</a></div>
	<div><span class="icon">󱃕</span><a class="topbar_link"href="/updates/">The 411</a></div>
    <div><span class="icon">󰑮</span><a class="topbar_link"href="/work/">Work</a></div>
    <div><span class="icon">󰟶</span><a class="topbar_link"href="/snippets/">Snippets</a></div>
    <div><span class="icon">󰳣</span><a class="topbar_link"href="/about/">Acerca</a></div>
</header>
