.button {
  background-color: $linkcolor;
  color: $bgcolor;
  font-weight: bold;
  border-radius: 0.2em;
  padding: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  font-size: 0.9em;
}

.button-set {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button + .button {
  margin-left: 1em;
}

// @media (max-width:750px) {
//   .button-set {
//     // flex: 0 0 50%;
//     // flex-wrap: wrap;
//     justify-content: space-around;
//     align-items: center;
//   }
// }

.contact-icons {
      font-size: 2em;
      padding: 0;
      margin: 0;
}
.contact-icons {
  > a + a {
    margin-left: 0.7em;
  }
}

pre {
  display: block;
  background-color: $codecolor;
  border-left: $linkcolor 0.5em solid;
  padding-top:0.5em;
  padding-bottom:0.5em;
  padding-left: 1em;
  overflow: scroll;
  font-size: 0.8em;
}
