h1, h2, h3 {
  font-family: $header-font-family;
  margin-bottom: 0;
  color: $h1fgcolor;
  font-weight: bold;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 1.5em;
}

h2, h3 {
  border-bottom: 0.06em solid $fgcolor;
}
