body {
  padding: 0;
  line-height: $line-height;
  max-width: 900px;
  text-align: justify;
  display: block;
  margin: auto;
  color: $fgcolor;
  font-family: $global-font-family;
  font-size: $doc-font-size;
  font-weight: 300;
}

html {
  background-color: $bgcolor;
  padding: 2em;
  transform: perspective(1px) translateZ(0) !important;
  backface-visibility: hidden !important;
  font-family: $global-font-family;
}

.icon {
  color: $iconcolor;
  padding-right: 0.4em;
}

.katex {
    font-size: 0.85em !important;
}

strong {
  color: $boldfgcolor;
  // font-size: 0.8em;
  // font-family: $bold-font-family;
}
