<!DOCTYPE html>
<html lang="en">

<head>
<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.min.css"
      integrity="sha384-Um5gpz1odJg5Z4HAmzPtgZKdTBHZdw8S29IecapCSB31ligYPhHQZMIlWLYQGVoc"
      crossOrigin="anonymous"
    />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% include css_imports.html %}
  <title>{{ page.title }}</title>
</head>

<body>
	{% include header.html %}
	<h1> {{ page.title }} </h1>
	<div>{{ content }}</div>
</body>

</html>
